# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/HelloWorld/nbproject/private/
/HelloWorld/build/
/BigONotation/nbproject/private/
/BigONotation/build/
/LinkedList/nbproject/private/
/LinkedList/build/
/TwoDimentionalSingleLinkedList/nbproject/private/
/TwoDimentionalSingleLinkedList/build/
/GreekForGreek/GFG/nbproject/private/
/GreekForGreek/GFG/build/
/DoubleLinkedList/nbproject/private/
/DoubleLinkedList/build/
/StackQueues/nbproject/private/
/StackQueues/build/
/HackerRank/nbproject/private/
/HackerRank/build/
/Recursion/nbproject/private/
/BinaryTree/nbproject/private/
/Sort/nbproject/private/
/BinaryTree/build/
/BinarySearchTree/nbproject/private/
/BinarySearchTree/build/